.banner-container {
  padding: 2.5rem 0 0 0;
  display: flex;
  margin-top: 0rem;
  justify-content: space-between;
}

.banner-container .headings-section {
  width: 60%;
}

.banner-container .headings-section h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 84px;
  color: #201d24;
  padding-right: 4rem;
  margin-bottom: 0px;
}

.banner-container .headings-section p {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  padding-right: 4rem;
  padding-top: 0px;
}

.banner-container .headings-section .request-demo {
  display: flex;
  margin-top: 4rem;
}

.banner-container .headings-section .request-demo .request-demo-text {
  width: 60%;
  margin-right: 10%;
}
.banner-container .headings-section .request-demo .request-demo-text input {
  background: #f8f8f8;
  opacity: 0.45;
  border: 1px solid #a9a9a9;
  border-radius: 4px;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #b6b6b6;
  padding: 0.8rem;
}

.banner-container .headings-section .request-demo .request-demo-button {
  width: 30%;
}

.banner-container .headings-section .request-demo .request-demo-button button {
  background: #201d24;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 0.8rem 2.5rem;
}

.banner-container .banner-image {
  width: 40%;
}

.neo-work-section {
  background: #fbf7f4;
}

.neo-work-section .container {
  display: flex;
  align-items: center;
}

.neo-work-section .steps {
  width: 25%;
  padding: 2.5rem 1rem;
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.neo-work-section .steps .image {
  display: inline-block;
  margin-right: 1rem;
  width: 42px;
}

.features-section .container .feature {
  display: flex;
  width: 80%;
  margin: 2rem auto;
}

.features-section .container .feature .feature-image,
.feature-desc {
  width: 50%;
}

.features-section .container .feature .feature-image {
  margin-right: 4rem;
}

.features-section .container .feature .feature-image img {
  max-width: 420px;
}

.features-section .container .feature .feature-desc h4 {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  margin-top: 15%;
}

.features-section .container .feature .feature-desc p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

.features-section .container .feature:nth-child(2) .feature-image {
  text-align: right;
}

.features-section .container .feature:nth-child(2) .feature-image {
  margin-left: 4rem;
  margin-right: 0px;
}

.features-section .container .feature-savings {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}

.features-section .container .feature-savings h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}

.features-section .container .feature-savings .feature-savings-details {
  display: flex;
  padding: 1rem 0;
}

.features-section .container .feature-savings .feature-savings-details {
  display: flex;
  padding: 1rem 0;
}

.features-section
  .container
  .feature-savings
  .feature-savings-details
  .feature-savings-list {
  width: 60%;
  margin-right: 2rem;
}

.features-section
  .container
  .feature-savings
  .feature-savings-details
  .feature-savings-image {
  width: 40%;
}

.features-section
  .container
  .feature-savings
  .feature-savings-details
  .feature-savings-list
  ul
  li {
  list-style: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  padding: 1rem;
  display: flex;
}

.features-section
  .container
  .feature-savings
  .feature-savings-details
  .feature-savings-list
  ul
  li
  span {
  display: inline-block;
  padding: 0 0.5rem;
}
.features-section
  .container
  .feature-savings
  .feature-savings-details
  .feature-savings-list
  ul
  li
  span
  img {
  width: 32px;
}
/* .features-section
  .container
  .feature-savings
  .feature-savings-details
  .feature-savings-list
  ul
  li::before {
  content: '';
  display: inline-block;
  height: 24px;
  width: 24px;
  background-size: contain;
  background-image: url('../images/check-mark.png');
  position: relative;
  top: 6px;
} */

.request-demo-section {
  padding: 1rem 0;
  width: 90%;
  margin: 2.5rem auto;
}

.request-demo-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.request-demo-section .container .heading {
  margin-right: 2rem;
}

.request-demo-section .container .heading h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.request-demo-section .container .input-box {
  width: 50%;
}

.request-demo-section .container .input-box input {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #b6b6b6;
  background: #f8f8f8;
  opacity: 0.45;
  border: 1px solid #a9a9a9;
  border-radius: 4px;
  padding: 0.8rem;
  width: 85%;
}

.request-demo-section .container .action {
  min-width: 180px;
}

.request-demo-section .container .action button {
  background: #201d24;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 0.6rem 2rem;
}

.how-it-works {
  background: #e1e9ef;
  /* opacity: 0.3; */
}

.how-it-works .container {
  padding: 2rem 1rem 3rem 1rem;
}

.how-it-works .container .heading {
  padding: 1rem 0 2rem 0;
}

.how-it-works .container .heading h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}

.how-it-works .container .option-container {
  display: flex;
  justify-content: space-between;
}

.how-it-works .container .option-container .option {
  width: 25%;
  text-align: center;
  min-width: 328px;
}

.how-it-works .container .option-container .option .option-image img {
  width: 80px;
}

.how-it-works .container .option-container .option h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.how-it-works .container .option-container .option p {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.faq-section {
  background: #e1e9ef;
  /* opacity: 0.3; */
}

.faq-section .container {
  padding: 2rem 1rem 3rem 1rem;
}

.faq-section .container .heading h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}

.faq {
}

.faq .faq-que {
  margin: 2.5rem 0;
}

.faq .faq-que .que {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 1rem;
}
.faq .faq-que .ans {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
